.hero {
    padding: 50px 0;
    background-color: $hero-color;

    &-block {
        display: flex;
        align-items: center;
    }

    &-text {
        margin-right: 118px;
        &__title {
            @include bold;

            margin: 0 0 45px;
            font-size: 41px;
            line-height: 55px;
        }
        &__subtitle {
            @include bold;

            font-size: 20px;
        }
    }

    &-image {
        max-width: 570px;
        width: 100%;
        height: auto;
    }

    &-list {
        margin: 50px 0 0;
        padding: 0;

        &__item {
            display: flex;
            align-items: center;
            margin-bottom: 30px;
        }

        &__item:last-child {
            margin-bottom: 0;
        }

        &__image {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 40px;
            height: 40px;
            border: 2px $main-color solid;
            border-radius: 50%;
        }

        &__text {
            font-size: 17px;
            line-height: 1.5;
            margin-left: 30px;
            max-width: 300px;

        }
    }
}

@media (max-width: 1200px) {
    .hero-text {
        margin: 0;
        padding-left: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .hero-block {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .hero-text {
        margin-bottom: 30px;
        padding: 0;
        &__title {
            margin: 0 0 25px;
            font-size: 24px;
            line-height: 1.4;
        }

        &__subtitle {
            font-size: 16px;
        }
    }

    .hero-list__text {
        font-size: 14px;
        margin-left: 15px;
        max-width: 225px;
    }
}


