@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Museo Sans Cyrl';
  font-weight: 300;
}

img {
  max-width: 100%;
}

.container {
  width: 1170px;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    width: 760px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 580px;
    width: 90%;
  }
}

.button {
  background-color: #ffd200;
  border-radius: 10px;
  border: none;
  padding: 18px 30px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.button:hover {
  background-color: #ffdb33;
  cursor: pointer;
}

.input {
  border: 1px solid #dddddd;
  border-radius: 10px;
  font-weight: 300;
  padding: 20px 26px;
}

.navbar {
  padding: 8px 0;
}

.navbar__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
}

.navbar__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar__button {
  margin-left: 30px;
}

.navbar__phone {
  font-family: 'Museo Sans Cyrl';
  font-weight: 700;
  color: #333333;
  font-size: 20px;
  text-decoration: none;
  margin-top: 10px;
}

.navbar__phone:after {
  content: "";
  display: block;
  width: 0%;
  height: 1px;
  background: #000;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.navbar__phone:hover:after {
  width: 100%;
}

@media (max-width: 768px) {
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    font-size: 12px;
    padding: 15px 26px;
  }
  .navbar__logo {
    width: 90px;
  }
}

.hero {
  padding: 50px 0;
  background-color: #f5f5f5;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-text {
  margin-right: 118px;
}

.hero-text__title {
  font-family: 'Museo Sans Cyrl';
  font-weight: 700;
  margin: 0 0 45px;
  font-size: 41px;
  line-height: 55px;
}

.hero-text__subtitle {
  font-family: 'Museo Sans Cyrl';
  font-weight: 700;
  font-size: 20px;
}

.hero-image {
  max-width: 570px;
  width: 100%;
  height: auto;
}

.hero-list {
  margin: 50px 0 0;
  padding: 0;
}

.hero-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.hero-list__item:last-child {
  margin-bottom: 0;
}

.hero-list__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  border: 2px #ffd200 solid;
  border-radius: 50%;
}

.hero-list__text {
  font-size: 17px;
  line-height: 1.5;
  margin-left: 30px;
  max-width: 300px;
}

@media (max-width: 1200px) {
  .hero-text {
    margin: 0;
    padding-left: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 768px) {
  .hero-text {
    margin-bottom: 30px;
    padding: 0;
  }
  .hero-text__title {
    margin: 0 0 25px;
    font-size: 24px;
    line-height: 1.4;
  }
  .hero-text__subtitle {
    font-size: 16px;
  }
  .hero-list__text {
    font-size: 14px;
    margin-left: 15px;
    max-width: 225px;
  }
}

.offer {
  padding: 80px 0;
  background: url(../img/offer.jpg) no-repeat;
  background-position: center right;
  position: relative;
}

.offer:before {
  content: "";
  width: 50%;
  height: 100%;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
}

.offer-block {
  width: 50%;
  padding-right: 85px;
  position: relative;
}

.offer-title {
  font-size: 24px;
  line-height: 35px;
  max-width: 400px;
  margin: 0 0 30px;
}

.offer-subtitle {
  display: block;
  margin-bottom: 20px;
  font-size: 16px;
  max-width: 300px;
}

.offer__input {
  width: 240px;
  margin-bottom: 30px;
}

.offer__input:first-child {
  margin-right: 16px;
}

.offer__button {
  width: 100%;
  margin-bottom: 30px;
}

.offer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  line-height: 24px;
}

.offer__text {
  width: 50%;
  margin-right: 80px;
}

.offer__tel {
  width: 50%;
}

.offer__phone {
  text-decoration: none;
  color: #333333;
  font-family: 'Museo Sans Cyrl';
  font-weight: 700;
}

@media (max-width: 1200px) {
  .offer-block {
    padding-right: 25px;
  }
  .offer__input {
    width: 100%;
  }
  .offer__input:first-child {
    margin-right: 0;
  }
  .offer__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .offer__text {
    width: 100%;
    margin-bottom: 20px;
  }
  .offer__tel {
    width: 55%;
  }
}

@media (max-width: 768px) {
  .offer::before {
    width: 100%;
  }
  .offer-block {
    width: 100%;
    padding-right: 0;
  }
  .offer__tel {
    width: 73%;
  }
}

.portfolio {
  padding-top: 90px;
  padding-bottom: 60px;
  background: #f5f5f5 url(../img/portfolio-bg.jpg) repeat-y center left;
  background-size: 50%;
}

.portfolio__title {
  text-align: center;
  margin: auto;
  margin-bottom: 100px;
  max-width: 780px;
}

.arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  margin-top: 60px;
  max-width: 120px;
}

.arrows__left, .arrows__right:hover {
  cursor: pointer;
}

.slider__image {
  margin: auto;
}

@media (max-width: 768px) {
  .portfolio {
    background-size: 100%;
  }
  .portfolio__title {
    margin-bottom: 40px;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-dialog {
  width: 80%;
  height: 500px;
  background-color: #fff;
  margin: auto;
  border-radius: 10px;
  position: relative;
}

.modal-dialog__close {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  cursor: pointer;
  border: none;
}
/*# sourceMappingURL=style.css.map */